// Color overrides
$deepDanger: shift-color($danger, 75%);

$custom-theme-colors: (
        "lightspace": $lightSpace,
        "deepspace": $deepSpace,
        "bluespace": $blueSpace,
        "deepdanger": $deepDanger
);
$theme-colors: map-merge($theme-colors, $custom-theme-colors);