---
layout: default
title: "Page Not Found"
description: "Looks like you are lost"
---

<main class="container-fluid d-flex align-items-center justify-content-center overflow-hidden" id="content">
    <div class="row h-75 w-100 justify-content-center">
        <div class="col-xxl-8 h-100">
            <div class="row h-100 gap-4 gx-5 justify-content-around align-items-center">
                <div class="col-md-6 ms-sm-4 text-center text-sm-start overflow-scroll" id="text-404">
                    <p class="lh-1 display-1 fw-medium"><span class="fw-bold text-danger">Error 404</span><br>
                        Page Not Found
                    </p>
                    <p class="h5 fw-light">It appears the page you're searching for has wandered off into the vast
                        expanse of cyberspace, leaving you adrift in your digital space shuttle. Fear not, for even
                        amidst the boundless reaches of the internet, a guiding light awaits your discovery.</p>
                    <div class="mt-5 d-flex justify-content-center">
                        <a type="button" class="btn btn-outline-ml btn-lg" href="/">Return Home</a>
                    </div>
                </div>
                <div class="col-sm-4 w-auto">
                    <div id="rocket-404">
                        {% include shuttle/trail-shuttle.html %}
                        {% include shuttle/shuttle.html %}
                        {% include shuttle/icon.html %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>