body {
  font-feature-settings: 'liga' 1, 'calt' 1; // fix for Chrome
}

#content {
  transition: opacity 300ms ease-in-out 400ms;

  &:has(> :first-child:not(.h-100)) {
    padding-top: var(--navbar-height); // Comes from navbar.js calculation
  }
}

// Links
a {
  color: var(--bs-emphasis-color);
  text-decoration: none;
  transition: color $transitionNormal ease-in-out;

  &:hover,
  &:focus {
    color: $accent;
  }

  &:active {
    color: darken($accent, 10%);
  }
}

// Button
.btn-outline-ml {
  @extend .btn;
  @extend .btn-outline-secondary;

  --#{$prefix}btn-color: --bs-body-color;
  --#{$prefix}btn-hover-bg: #{$accent};
  --#{$prefix}btn-hover-border-color: transparent;
  --#{$prefix}btn-hover-color: black;
  --#{$prefix}btn-active-bg: #{darken($accent, 10%)};
  --#{$prefix}btn-active-border-color: transparent;
  --#{$prefix}btn-active-color: black;
}

.btn-no-outline-ml {
  @extend .btn-close;

  --#{$prefix}btn-close-color: --bs-body-color;
  --#{$prefix}btn-close-hover-opacity: 100%;
  --#{$prefix}btn-close-focus-shadow: 0;

  background: none;
  filter: unset !important;
  width: unset !important;
  height: unset !important;
  transition: color $transitionNormal ease-in-out, opacity $transitionNormal ease-in-out;

  &:hover {
    --#{$prefix}btn-close-color: #{$accent};
  }

  &:active {
    --#{$prefix}btn-close-color: #{darken($accent, 10%)};
  }
}

// Shuttle
// Boosters
.boosters {
  // Fuel Tank
  .fuel-tank-fill {
    fill: $accent;
  }
  .cap-fill {
    fill: #00000022;
  }
  .fuel-tank-curve-shadow-fill {
    fill: #00000011;
  }
  // Boosters
  .boosters-fill {
    fill: whitesmoke;
  }
  .accents-fill {
    fill: lightgray;
  }
  .boosters-curve-shadow-fill {
    fill: #00000011;
  }
  .thrusters-fill {
    fill: darkgray;
  }
  .thrusters-curve-shadow-fill {
    fill: #00000011;
  }
}

// Icon
.icon .icon-fill {
  fill: $accent;
}

// Shuttle
.shuttle {
  .lower-wing-fill {
    fill: dimgray;
  }
  .upper-wing-fill {
    fill: gainsboro;
  }
  .wing-curve-shadow-fill {
    fill: #00000011;
  }
  .hull-fill {
    fill: white;
  }
  .hull-shadow-fill {
    fill: whitesmoke;
  }
  .window-fill {
    fill: lightslategray;
  }
  .window-highlight-fill {
    fill: #FFFFFFCC;
  }
  .hull-curve-shadow-fill {
    fill: #00000011;
  }
  .lower-engine-fill {
    fill: gray;
  }
  .upper-engine-fill {
    fill: darkgray;
  }
  .engine-curve-shadow-fill {
    fill: #00000011;
  }
  .fin-fill {
    fill: $accent;
  }
}

// Forms
.form-control-ml {
  @extend .form-control;

  color: var(--bs-body-color);
  background-color: rgba(var(--bs-body-color-rgb), 0.2);
  border-color: $secondary;

  &:focus {
    color: var(--bs-body-color);
    background-color: rgba(var(--bs-body-color-rgb), 0.2);
  }

  &::placeholder {
    color: var(--bs-body-color);
  }
}

// Animations
@keyframes fade-reveal {
  from {
    transform: translateY(.1em);
    opacity: 0;
  }
}

@keyframes fade-reveal-left {
  from {
    transform: translateX(-1em);
    opacity: 0;
  }
}

// Common
@import "stars-background";
@import "nav";
@import "fader";
@import "dev-tag";