// Fonts
$bodyFontStack: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
$font-family-monospace: 'JetBrains Mono', ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;

// Variables
// Colors
$backgroundColor: #141525;
$gradientColor: #2C2D44;
$bodyColor: #cfd1de;

// Timing
$transitionNormal: 150ms;

body {
  background-color: $backgroundColor;
  color: $bodyColor;
  font-family: Inter, $bodyFontStack;
  font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
}

@supports (font-variation-settings: normal) {
  body {
    font-family: InterVariable, $bodyFontStack;
  }
}

#content {
  position: absolute;
  z-index: 1;
  transition: opacity 300ms ease-in-out;
}

// Common
@import "stars-background";
@import "nav";

// Home
@import "mattlabs-text";