<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}" data-bs-theme="dark">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />
        <meta charset="utf-8">
        <title>{{ page.title }} - {{ site.title }}</title>
        {% assign css_file = layout.css | default: page.css | default: "/assets/css/main.css" %}
        <link rel="stylesheet" href="{{ css_file | relative_url }}">
        {% assign js_file = layout.js | default: page.js |  default: "/assets/js/main.js" %}
        <script defer src="{{ js_file | relative_url }}"></script>
        {% include livereload.html %}
        {% include fonts.html %}
        {% include favicon.html %}
        {% seo %}
    </head>
    <body>
        {% include fader.html %}
        {% include stars-background.html %}
        {% include nav.html %}
        <main class="container vh-100" id="content">
            {{ content }}
        </main>
        {% include dev-tag.html %}
    </body>
</html>
