---
layout: default
css: /assets/css/launching-soon.css
---
<div class="row h-100 row-gap-5 justify-content-center align-items-center align-content-center overflow-y-hidden">
    <div class="col-12 col-md-6 ms-md-5 text-center text-md-start" id="launching-soon-text">
        <p class="lh-1 display-1 fw-medium"><span class="fw-bold text-accent">Launching</span><br>
            Soon...
        </p>
        <p class="h5 fw-light">This page is still under construction. We are working hard to ensure
            everything is polished and ready for your arrival. We appreciate your patience and understanding
            as we put the finishing touches together. </p>
        <div class="mt-5 d-flex justify-content-center">
            <a type="button" class="btn btn-outline-ml btn-lg" href="/">Return Home</a>
        </div>
    </div>
    <div class="col-12 col-md-4 d-flex justify-content-center justify-content-md-end">
        <div id="rocket-ls">
            {% include shuttle/trail-booster.html %}
            {% include shuttle/boosters.html %}
            {% include shuttle/shuttle.html %}
            {% include shuttle/icon.html %}
        </div>
    </div>
</div>